  <% if session["access_token"] != nil %>
  <%# binding.pry %>
    <h2 class="text-center">Thank you.</h2>
    <h3 class="text-center">Please enter your trip details:</h3><br>
    <%= render partial: "shared/flash" %>
    <%= render partial: "trip_form", locals: {trip: @trip, button_text: "Go!"} %>
  <% else %>
    <a href="<%= @url %>"><h3>Please log into Instagram</h3></a>
  <% end %>