<body class="background-trips">

  <% if session["access_token"] != nil %>
  	<div class="col-lg-3 col-lg-offset-5">
  	<br>
  	<br>
    <h3 class="insta text-center">Thank you.</h3><br>
    <h3 class="insta text-center">Please enter your journey details:</h3><br>
    <%= render partial: "shared/flash" %>
    <%= render partial: "trip_form", locals: {trip: @trip, button_text: "Go!"} %>
    </div>
  <% else %>
  <br>
  <br>
  <div class="col-lg-3 col-lg-offset-5">
    <a href="<%= @url %>"><h3 class="insta">Please log into Instagram</h3></a>
   </div>
  <% end %>
</body>
