<%= javascript_include_tag "trips" %>

<div id="map-container" style="color: #878787;">
  <div id="map-canvas"></div>
</div>

<div class="right-half">
  <h3 style="font-style: italic;">Trip Display and Test Options</h3>
  <input id="search-maps" class="controls" type="text" placeholder="Search for location" style="z-index: 1;">
<<<<<<< HEAD
  <h2> <%= @current_user %>, name of journey</h2>
  <p style="color: black">Description of journey Explorify is a beautiful way to share the best <br> parts of your travels with friends and family.  Powered by Instagram, <br> we help you plot your best travel photos on a world map and model <br> the path you took during your trip.  Allow your friends and family to <br> enjoy your trips at their own convenience.</p>
=======

<h3>Data</h3>
<p style="color:black;"><%= @trip.inspect %></p>



>>>>>>> cd4c38df5fd243fe8ce054736dd8d2b43bb91aae
</div>


