<%= javascript_include_tag "trips" %>

<div id="map-container">
  <div id="map-canvas"></div>
</div>

<div class="right-half">
  <h3 style="font-style: italic;">Trip Display and Test Options</h3>
  <input id="pac-input" class="controls" type="text" placeholder="Search for location">
</div>


