<%= render partial: "shared/center_col_header" %>
  <h2 class="text-center">Create new account</h2><br>
  <div>
    <%= render partial: "users_form", locals: {user: @user, button_text: "Create new account"} %>  
  </div>
<%= render partial: "shared/div_footer" %>
