
<%= render partial: "shared/center_col_header" %>
<br>
<br>
<body class= "usersbkg">
	

  <h2 class="acct">Welcome to Explorify.</h2><br>

  <div>
    <%= render partial: "users_form", locals: {user: @user, button_text: "Create new account"} %>  
  </div>


 </body>

