html {  height: 100% }
body { height: 100%; margin: 0; padding: 0 }

#map-container {
   position: fixed;
   left: 0px;
   top: 0px;
   height: 730px;
   width: 700px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 5px;
   border-width: 7px;
 }

#map-canvas { height: 720px; width: 685px; }

.right-half {
   position: fixed;
   left: 800px;
   top: 100px;
   height: 730px;
   width: 700px;

}


