.tripbody {
   background-color: #2F3835;
   background: url(overlay.png);
}

.acct {
	text-align: center;
	font-size: 40px;
}

.usersbkg {
	background: url(overlay.png);
	background-color: #F3EDDF;
}