<body class="body-background">
  <div class="col-lg-4 col-lg-offset-4">
    <br>
    <br>
    <h1 class="text-center">About Explorify</h1><br>
    <h2 class="text-center">Team Glorious is composed of following contributors:</h2><br><br>
    <div class="about">
      <h3 class="about">Shawn Bokaie</h3>
      <ul>
        <li class="about"><a href="mailto:shawn.bokaie@gmail.com">shawn.bokaie@gmail.com</a></li>
        <li class="about"><a href="https://github.com/sbokaie">GitHub</a></li>
      </ul>
    </div>
    <div class="about">
      <h3 class="about">Mike McClure</h3>
      <ul class="about">

        <li class="about"><a href="salamandermike@gmail.com">salamandermike@gmail.com</a></li>
        <li class="about"><a href="https://github.com/SalamanderMike">GitHub</a></li>
      </ul>
    </div>
    <div class="about">
      <h3 class="about">Jesse Moore</h3>
      <ul class="about">

        <li class="about"><a href="mailto:moore.jesseb@gmail.com">moore.jesseb@gmail.com</a></li>
        <li class="about"><a href="https://github.com/MooreJesseB">GitHub</a></li>
      </ul>
    </div>
    <h4 class="text-center">2014</h4><br><br>
  </div>
</body>

