<%= render partial: "shared/center_col_header" %>


    <header style="background-image: url('assets/images/balloonHome.jpg');">
        <div class="intro-content">
           
            <div class="brand-name">How Do You Travel?</div>
            <hr class="colored">
            <div class="brand-name-subtext">Share your journey</div>
        </div>
        <div class="scroll-down">
            <a class="btn" href="#about"><i class="fa fa-angle-down fa-fw"></i></a>
        </div>
    </header>




<!-- <div class ="search-area text-center">
	<div class="page-container page-container-responsive row-full-height">
	
		<div class="col-12 col-middle">
			<h1 id="tagline" class="uppercase text-jumbo text-contrast row-space-1">How do you travel?</h1>
			<div id="subtitle" class="h4 text-contrast row-space-4">Hi</div>
		</div>
	</div>
</div> -->
<%= render partial: "shared/div_footer" %>


