<html>
    <head>
        <title>Escape Velocity by HTML5 UP</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
        <script src="javascripts/jquery.min.js"></script>
        <script src="javascripts/jquery.dropotron.min.js"></script>
        <script src="javascripts/skel.min.js"></script>
        <script src="javascripts/skel-layers.min.js"></script>
        <script src="javascripts/init.js"></script>
        <noscript>
            <link rel="stylesheet" href="stylesheets/skel.css" />
            <link rel="stylesheet" href="stylesheets/style.css" />
            <link rel="stylesheet" href="stylesheets/style-desktop.css" />
        </noscript>
        <!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
    </head>
    <body class="homepage">

        <!-- Header -->
            <div id="header-wrapper" class="wrapper">
                <div id="header">

                    <!-- Logo -->
                        <div id="logo">
                            <h1><a href="/.html">How do you travel?</a></h1>
                            <p><a href="/login" class="button style3 big">Share your journey</a></p>
                        </div>
                </div>
            </div>

        <!-- Intro -->
            <div id="intro-wrapper" class="wrapper style1">
                <div class="title">About</div>
                <section id="intro" class="container">
                    <p class="style1">What is Explorify?</p>
                    <p class="style2">
                        Something really really inspirational here <br class="mobile-hide" />
                    </p>
                    <p class="style3">Explorify is a beautiful way to share the best parts of your travels with friends and family.  Powered by Instagram, we help you plot your best travel photos on a world map and model the path you took during your trip.  Allow your friends and family to enjoy your trips at their own convenience.</p>
                    <ul class="actions">
                        <li><a href="#" class="button style3 big">Sign Up</a></li>
                    </ul>
                </section>
            </div>



      <!-- Footer -->
            <div id="footer-wrapper" class="wrapper">
                <div class="title">Contact</div>
                <div id="footer" class="container">
                    <header class="style1">
                        <h2>Have a question?</h2>
                        <p>
                            Drop us a line or find us on<a href=https://github.com/TeamGlorious/explorify> GitHub.</a><br />

                        </p><br>
                    </header>

                            <!-- Contact Form -->
                            <div class= "row row-centered">
                                <section>
                                    <form method="post" action="#">
                                        <div class="row half">
                                            <div class="6u">
                                                <input type="text" name="name" id="contact-name" placeholder="Name"/>
                                            </div>
                                            <div class="6u">
                                                <input type="text" name="email" id="contact-email" placeholder="Email" />
                                            </div>
                                        </div>
                                        <div class="row half">
                                            <div class="12u">
                                                <textarea name="message" id="contact-message" placeholder="Message" rows="4"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="12u">
                                                <ul class="actions">
                                                    <li><input type="submit" class="style1" value="Send" /></li>
                                                    <li><input type="reset" class="style2" value="Reset" /></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </form>
                                </section>
                              </div>
                </div>


    </body>
</html>